In [19]:
import requests 
from config import omdb_key
import pandas as pd

In [ ]:
def omdb_request(movie_title):
    seperator = '+'
    title_url = seperator.join(movie_title.split())
    url = 'http://www.omdbapi.com/?' + 't=' + title_url + '&apikey=' + omdb_key
    r = requests.get(url)
    return r.json()

In [9]:
temp_info = omdb_request('Toy Story')

In [10]:
r = requests.get(url)
#http://www.omdbapi.com/?i=tt3896198&apikey=507228e9 example url
#http://www.omdbapi.com/?t=shawshank+redemption

In [11]:
temp_info

{'Title': 'Toy Story',
 'Year': '1995',
 'Rated': 'G',
 'Released': '22 Nov 1995',
 'Runtime': '81 min',
 'Genre': 'Animation, Adventure, Comedy, Family, Fantasy',
 'Director': 'John Lasseter',
 'Writer': 'John Lasseter (original story by), Pete Docter (original story by), Andrew Stanton (original story by), Joe Ranft (original story by), Joss Whedon (screenplay by), Andrew Stanton (screenplay by), Joel Cohen (screenplay by), Alec Sokolow (screenplay by)',
 'Actors': 'Tom Hanks, Tim Allen, Don Rickles, Jim Varney',
 'Plot': "A cowboy doll is profoundly threatened and jealous when a new spaceman figure supplants him as top toy in a boy's room.",
 'Language': 'English',
 'Country': 'USA',
 'Awards': 'Nominated for 3 Oscars. Another 23 wins & 17 nominations.',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BMDU2ZWJlMjktMTRhMy00ZTA5LWEzNDgtYmNmZTEwZTViZWJkXkEyXkFqcGdeQXVyNDQ2OTk4MzI@._V1_SX300.jpg',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '8.3/10'},
  {'Source': 'Rotten Tomatoes', 'Value': '100%'},
  {'Source': 'Metacritic', 'Value': '95/100'}],
 'Metascore': '95',
 'imdbRating': '8.3',
 'imdbVotes': '778,821',
 'imdbID': 'tt0114709',
 'Type': 'movie',
 'DVD': '20 Mar 2001',
 'BoxOffice': 'N/A',
 'Production': 'Buena Vista',
 'Website': 'http://www.disney.com/ToyStory',
 'Response': 'True'}

In [21]:
ratings = temp_info['Ratings'] #first index is IMDB, rotten tomatoes, metacritic

In [26]:
for rating in ratings:
    print(rating['Source'],rating['Value'])

Internet Movie Database 8.3/10
Rotten Tomatoes 100%
Metacritic 95/100

In [36]:
print(temp_info['imdbRating'])
print(temp_info['Metascore'])
print(temp_info['Ratings'][1]['Value'])

8.3
95
100%

In [37]:
type(temp_info['imdbRating'])
type(temp_info['Metascore'])
type(temp_info['Ratings'][1]['Value'])

str

In [ ]:
#######
#Function to scrape data from box office mojo 
#######

In [15]:
import pandas as pd

In [40]:
percent = '110%'
percent.split('%')[0]

'110'

In [16]:
def bom_db(year):
    url = 'https://www.boxofficemojo.com/yearly/chart/?view2=worldwide&yr=' + str(year)+'&p=.htm'
    r = pd.read_html(requests.get(url).content)
    test_df = r[1]
    df = test_df.iloc[:,0:8]
    
    df.columns = ['Rank', 'Title', 'Studio', 'Worldwide Gross', 'Domestic Gross', 
                   'Domestic %','Overseas Gross' ,'Overseas %']

    df['Year'] = year
    df.drop([0,1,2], inplace=True)
    df.reset_index(inplace=True)
    df.drop(columns=['index', 'Rank'], inplace=True)
    return df

In [27]:
df_1989 = bom_db(1989)

In [29]:
df_1989.Title[4]

'Dead Poets Society'

In [31]:
df_1989.head()

,Title,Studio,Worldwide Gross,Domestic Gross,Domestic %,Overseas Gross,Overseas %,Year
0,Indiana Jones and the Last Crusade,Par.,$474.2,$197.2,41.6%,$277.0,58.4%,1989
1,Batman,WB,$411.3,$251.2,61.1%,$160.2,38.9%,1989
2,Back to the Future Part II,Uni.,$332.0,$118.5,35.7%,$213.5,64.3%,1989
3,Look Who's Talking,TriS,$297.0,$140.1,47.2%,$156.9,52.8%,1989
4,Dead Poets Society,BV,$235.9,$95.9,40.6%,$140.0,59.4%,1989

In [30]:
for title in df_1989.Title:
    title_data = omdb_request(title) #Requests omdb to get data about specific movie
    
    imdbrating = float(title_data['imdbRating'])
    metascore = int(title_data['Metascore'])
    rtom_score = title_data['Ratings'][1]['Value'].split('%')[0]
    ratings_df = pd.DataFrame()

{'Title': 'Dead Poets Society',
 'Year': '1989',
 'Rated': 'PG',
 'Released': '09 Jun 1989',
 'Runtime': '128 min',
 'Genre': 'Comedy, Drama',
 'Director': 'Peter Weir',
 'Writer': 'Tom Schulman',
 'Actors': 'Robin Williams, Robert Sean Leonard, Ethan Hawke, Josh Charles',
 'Plot': 'English teacher John Keating inspires his students to look at poetry with a different perspective of authentic knowledge and feelings.',
 'Language': 'English, Latin',
 'Country': 'USA',
 'Awards': 'Won 1 Oscar. Another 18 wins & 18 nominations.',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BOGYwYWNjMzgtNGU4ZC00NWQ2LWEwZjUtMzE1Zjc3NjY3YTU1XkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '8.1/10'},
  {'Source': 'Rotten Tomatoes', 'Value': '84%'},
  {'Source': 'Metacritic', 'Value': '79/100'}],
 'Metascore': '79',
 'imdbRating': '8.1',
 'imdbVotes': '359,804',
 'imdbID': 'tt0097165',
 'Type': 'movie',
 'DVD': '10 Nov 1998',
 'BoxOffice': 'N/A',
 'Production': 'Buena Vista Pictures',
 'Website': 'N/A',
 'Response': 'True'}