In [18]:
import requests 
import pandas as pd
from config import omdb_key

In [20]:
def omdb_request(movie_title):
    seperator = '+'
    title_url = seperator.join(movie_title.split())
    url = 'http://www.omdbapi.com/?' + 't=' + title_url + '&apikey=' + omdb_key
    r = requests.get(url)
    return r.json()

In [21]:
def bom_db(year):
    url = 'https://www.boxofficemojo.com/yearly/chart/?view2=worldwide&yr=' + str(year)+'&p=.htm'
    r = pd.read_html(requests.get(url).content)
    test_df = r[1]
    df = test_df.iloc[:,0:8]
    
    df.columns = ['Rank', 'Title', 'Studio', 'Worldwide Gross', 'Domestic Gross', 
                   'Domestic %','Overseas Gross' ,'Overseas %']

    df['Year'] = year
    df.drop([0,1,2], inplace=True)
    df.reset_index(inplace=True)
    df.drop(columns=['index', 'Rank'], inplace=True)
    return df

In [19]:
temp_info = omdb_request('harry potter')
temp_info

{'Title': 'Harry Potter and the Deathly Hallows: Part 2',
 'Year': '2011',
 'Rated': 'PG-13',
 'Released': '15 Jul 2011',
 'Runtime': '130 min',
 'Genre': 'Adventure, Drama, Fantasy, Mystery',
 'Director': 'David Yates',
 'Writer': 'Steve Kloves (screenplay), J.K. Rowling (novel)',
 'Actors': 'Ralph Fiennes, Michael Gambon, Alan Rickman, Daniel Radcliffe',
 'Plot': "Harry, Ron, and Hermione search for Voldemort's remaining Horcruxes in their effort to destroy the Dark Lord as the final battle rages on at Hogwarts.",
 'Language': 'English',
 'Country': 'USA, UK',
 'Awards': 'Nominated for 3 Oscars. Another 45 wins & 91 nominations.',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BMjIyZGU4YzUtNDkzYi00ZDRhLTljYzctYTMxMDQ4M2E0Y2YxXkEyXkFqcGdeQXVyNTIzOTk5ODM@._V1_SX300.jpg',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '8.1/10'},
  {'Source': 'Rotten Tomatoes', 'Value': '96%'},
  {'Source': 'Metacritic', 'Value': '87/100'}],
 'Metascore': '87',
 'imdbRating': '8.1',
 'imdbVotes': '681,981',
 'imdbID': 'tt1201607',
 'Type': 'movie',
 'DVD': '11 Nov 2011',
 'BoxOffice': '$381,000,185',
 'Production': 'Warner Bros. Pictures',
 'Website': 'http://www.HarryPotter.com/',
 'Response': 'True'}

In [14]:
def omdb_request(movie_title):
    seperator = '+'
    title_url = seperator.join(movie_title.split())
    url = 'http://www.omdbapi.com/?' + 't=' + title_url + '&apikey=' + omdb_key
    r = requests.get(url)
    return r.json()

In [135]:
temp_info['Ratings'] #first index is IMDB, rotten tomatoes, metacritic

[{'Source': 'Internet Movie Database', 'Value': '8.3/10'},
 {'Source': 'Rotten Tomatoes', 'Value': '100%'},
 {'Source': 'Metacritic', 'Value': '95/100'}]

In [40]:
data['Ratings']

[{'Source': 'Internet Movie Database', 'Value': '8.3/10'},
 {'Source': 'Rotten Tomatoes', 'Value': '100%'},
 {'Source': 'Metacritic', 'Value': '95/100'}]

In [ ]:
#######
#Function to scrape data from box office mojo 
#######

In [23]:
df_2014 = bom_db(2014)

In [25]:
df_2014.describe()

         Year
count   394.0
mean   2014.0
std       0.0
min    2014.0
25%    2014.0
50%    2014.0
75%    2014.0
max    2014.0